* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    color: #333;
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

.main {
    background: #f1f1f1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.form {
    width: 420px;
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    margin: 24px;
    align-self: center;
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
}

.form .heading {
    font-size: 2rem;
    color: rgb(75, 139, 235);
}

.form .desc {
    color: #929da8;
    font-size: 1.6rem;
    font-weight: lighter;
    line-height: 2.4rem;
    margin-top: 16px;
    font-weight: 300;
}

.form-group {
    display: flex;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}

.form-label,
.form-message {
    text-align: left;
}

.form-label {
    font-weight: 700;
    padding-bottom: 6px;
    line-height: 1.8rem;
    font-size: 1.5rem;
}

.form-input {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    outline: none;
    font-size: 1.4rem;
}

.form-icon-exclamation {
    width: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 50%;
    color: white;
    background-color: #f33a58;
    position: absolute;
    top: 32px;
    right: 10px;
    display: none;
}

.form-input:hover {
    border-color: rgb(88, 145, 230);
}

.form-group.invalid .form-input {
    border-color: #f33a58;
}

.form-group.invalid .form-icon-exclamation {
    display: block;
}

.form-group.invalid .form-message {
    color: #f33a58;
}

.form-message {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding: 4px 0 0;
}

.message {
    text-align: justify;
    font-size: 1.2rem;
}

.note {
    color: rgb(88, 145, 230)
}

.form-submit {
    outline: none;
    background-color: rgb(88, 145, 230);
    margin-top: 12px;
    padding: 12px 16px;
    font-weight: 600;
    color: #fff;
    border: none;
    width: 100%;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.form-submit:hover {
    background-color: rgb(50, 110, 201);
}

.space {
    width: 80%;
    margin: 12px 34px 24px;
    border-bottom: 1px solid rgb(89, 89, 89);
}

.form-group .form-radio {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-radio .radio-input {
    display: flex;
    flex-direction: row;
}

.radio-input label {
    margin-left: 6px;
    font-size: 1.4rem;
}